<ion-header>

    <ion-navbar color="primary">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Team</ion-title> <!-- GET Current User name-->
        <ion-buttons end>
            <button ion-button color="light" (click)="dataServiceProvider.logout()">
                Logout
            </button>
        </ion-buttons>
    </ion-navbar>

</ion-header>


<ion-content fixed>

    <ion-grid fixed>
        <ion-card>
            <ion-card-header>
                Team members
            </ion-card-header>
            <ion-card-content>
                <!-- <canvas #lineCanvas></canvas> -->
                <canvas #barCanvas></canvas>
            </ion-card-content>
            <ion-buttons end>
                <button ion-button (click)="getTeamsScoreWithParams('weekly=true')">
                    Weekly
                </button>
                <button ion-button (click)="getTeamsScoreWithParams('monthly=true')">
                    Monthly
                </button>
                <button ion-button (click)="getTeamsScoreWithParams('yearly=true')">
                    Yearly
                </button>
            </ion-buttons>
        </ion-card>
        <ion-card>
            <ion-card-content>
                <ion-card-header>
                    <strong>
                        Top team members
                    </strong>
                </ion-card-header>
                <ion-list>
                    <ion-item *ngFor="let score of teamScores" (click)="goToMemberDetailPage(score._id.id)">
                        {{ score._id.firstName }} {{ score._id.lastName }}
                        <span ion-text item-end *ngFor="let kudo of score.kudos">
                            {{ kudo.count }} X
                            <ion-icon [name]="getIconForValue(kudo.value)"></ion-icon>
                        </span>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <strong>Last Kudos</strong>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item *ngFor="let kudo of lastKudos">
                        <p><code class="highlighter-rouge">{{ kudo.receiver.firstName }}, {{ kudo.receiver.lastName }}</code>
                            received <ion-icon [name]='getIconForValue(kudo.value)'></ion-icon>
                            from <code class="highlighter-rouge">{{ kudo.sender.firstName }}, {{ kudo.sender.lastName }}</code>
                            "{{ kudo.message}}"</p>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </ion-grid>
</ion-content>