<!--
  Generated template for the GraphUserShittyPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

    <ion-navbar color="primary">
        <ion-title> SHITS </ion-title> <!-- GET Current User name-->
    </ion-navbar>

</ion-header>



<ion-content fixed>

    <ion-grid fixed>
        <ion-card>
            <ion-card-content>
                <ion-card-header>
                    Shitty overview
                </ion-card-header>
                <ion-row padding>
                    <ion-img width="70" height="70" src="../../assets/imgs/shit.jpg" class="imgCarrot"></ion-img>
                    <ion-col *ngFor="let shit of shittyKudos">
                        <!--(click)="itemSelected(shit)"-->
                    </ion-col>
                </ion-row>
                <ion-title *ngIf="shittyKudos?.length > 2" ion-text color="primary" padding bold>{{randomQuote}}
                </ion-title>
            </ion-card-content>
        </ion-card>
        <ion-card>
            <ion-card-header>
                <strong>Shitty Kudos</strong>
            </ion-card-header>
            <ion-card-content>
                <ion-list>
                    <ion-item *ngFor="let kudo of shittyKudos">
                        <p><code class="highlighter-rouge">{{ kudo.receiver.firstName }}, {{ kudo.receiver.lastName }}</code>
                            received <ion-icon [name]='getIconForValue(kudo.value)'></ion-icon>
                            from <code class="highlighter-rouge">{{ kudo.sender.firstName }}, {{ kudo.sender.lastName }}</code>
                            "{{ kudo.message}}"</p>
                    </ion-item>
                </ion-list>
            </ion-card-content>
        </ion-card>
    </ion-grid>
</ion-content>