<ion-header>

    <ion-navbar color="primary">
        <ion-title>Select yourself</ion-title>
    </ion-navbar>

</ion-header>


<ion-content>
    <ion-list>

        <ion-list-header>
            Team members
        </ion-list-header>

        <ion-item-divider *ngIf="empty" margin-vertical color="light">No team members</ion-item-divider>

        <ion-item-sliding *ngFor='let member of members;  let i = index'>
            <ion-item>
                <h2 (click)="goToHomePage(member)"> {{ member.firstName }}, {{ member.lastName }} </h2>
                <p>{{ member.email }}</p>
            </ion-item>
        </ion-item-sliding>
    </ion-list>
</ion-content>